<?xml version="1.0" ?>
<model>
  <name>quadcopter_with_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hannah Gillespie</name>
    <email>hgg23@ic.ac.uk</email>
  </author>

  <description>
    A quadcopter model with an integrated camera sensor for Gazebo simulation.
  </description>
</model>